<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="kookmin.cs.happyhog">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:name=".H3Application">

        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".Activity.MainActivity"/>
        <activity android:name=".Activity.SettingActivity"/>
        <activity android:name=".Activity.ProfileActivity"/>
        <activity android:name=".Activity.SensorActivity"/>
        <activity android:name=".Activity.FeedingActivity"/>
        <activity android:name=".Activity.InformationActivity"
                  android:label="Preferences"/>

        <activity android:name=".Activity.Information.AccountInformation"/>
        <activity android:name=".Activity.Information.HelpInformation"/>
        <activity android:name=".Activity.Information.PersonalInformation"/>
        <activity android:name=".Activity.Information.ReferenceInformation"/>
        <activity android:name=".Activity.Information.TermsInformation"/>
        <activity android:name=".Activity.Information.VersionInformation"/>

    </application>

</manifest>
