<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="kookmin.cs.happyhog">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:name=".H3Application">

        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.SettingActivity"/>
        <activity android:name=".activity.ProfileActivity"/>
        <activity android:name=".activity.SensorActivity"/>
        <activity android:name=".activity.FeedingActivity"/>
        <activity android:name=".activity.InformationActivity"
                  android:label="Preferences"/>

        <activity android:name=".activity.information.AccountInformation"/>
        <activity android:name=".activity.information.HelpInformation"/>
        <activity android:name=".activity.information.PersonalInformation"/>
        <activity android:name=".activity.information.ReferenceInformation"/>
        <activity android:name=".activity.information.TermsInformation"/>
        <activity android:name=".activity.information.VersionInformation"/>

    </application>

</manifest>
